header {
    display: flex;
    justify-content: flex-start; /* Postavi elemente na levo stran */
    align-items: center; /* Poravnaj elemente navpično na sredino */
    padding: 10px 20px; /* Doda malo prostora okoli */
    background-color: black;
    height: 5rem;
  }

  #logo-big {
    height: 100%; /* Logotip bo imel višino 100% od višine headerja */
    width: auto; /* Ohranimo razmerje slike */
}
#button-box{
    padding: 20px; /*Tukaj sem dodal padding za oba gumba, od skatle z tremi spinnerji*/
}
#spin-button{

}

main {
    display: flex;
    flex-direction: column; /* Postavi elemente drug nad drugim */
    align-items: center; /* Poravnaj elemente na sredino po širini */
    justify-content: center; /* Poravnaj elemente na sredino po višini */
    height: 100vh; /* Nastavi višino glavnega elementa na celotno višino okna */
}

#rezultat-box{
    background-color: yellow;
    width: 40rem;
    height: 2rem;
    display: flex;
    justify-content: center;  /* Horizontalno centriranje */
    align-items: center;
    border-radius: 20px ;
    margin-bottom: 10px;
}

#spin-box{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 20rem; 
    gap: 5px;
    border-radius: 20px;
}

.spinner{
    padding: 50px;
    background-color: green;
    border-radius: 15px;
    font-size: 40px
}